@import "deps/_variables";

#categoryList {
  display: block;
  list-style: none;
  padding: 5px 10px 0;
  li {
    margin-bottom: 10px;
    border: solid 1px @grayA0;
    background-color: @blue;
    height: 208px;
  }
  img {
    width: 100%;
  }
  .price {
    color: @white;
    width: 200px;
    display: inline-block;
    h2, p {
      margin: 2px;
    }
  }
}