<!--constant_header-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content=”yes” name=”apple-mobile-web-app-capable”/>
    <title></title>
    <!--depend css-->
    <link rel="stylesheet" href="../stylesheet/deps/normalize.css">
    <link rel="stylesheet" href="../stylesheet/deps/components.css">
    <!--depend css end-->
    <link rel="stylesheet" href="../stylesheet/common.css">
    <!--different-->
    <link rel="stylesheet" href="../stylesheet/bagOrderDetail.css">
    <!--different end-->
</head>
<body>
<header>
    <div id="telBar">
        <span>有任何问题请拨打电话 400-4000-400000</span>
        <a href="">
            <img src="../image/telphone.png">
        </a>
    </div>
</header>
<main>
    <!--constant_header end-->
    <div id="basicPrice">
        <img src="../image/bagDetail.png">
        <p>超级洗衣 MINI袋</p>
        <p>
            <del>原价：69元/袋</del>
            <span>会员价：<strong>40</strong>元/袋</span>
        </p>
    </div>
    <div id="washingNumber">
        清洗数量：
        <div class="numberBox">
            <input type="button" class="reduce" value="-"/>
            <input class="num" value="1"/>
            <input type="button" class="add" value="+"/>
        </div>
    </div>
    <div id="intro">
        <h2>一袋洗简介</h2>
    </div>
    <!--constant_footer-->
</main>
<footer>

</footer>
<script></script>
</body>
</html>
<!--constant_footer end-->
