<!--constant_header-->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content=”yes” name=”apple-mobile-web-app-capable”/>
    <title></title>
    <!--depend css-->
    <link rel="stylesheet" href="../stylesheet/deps/normalize.css">
    <link rel="stylesheet" href="../stylesheet/deps/components.css">
    <!--depend css end-->
    <link rel="stylesheet" href="../stylesheet/common.css">
    <!--different-->
    <link rel="stylesheet" href="../stylesheet/category.css">
    <!--different end-->
</head>
<body>
<header>
    <div id="telBar">
        <span>有任何问题请拨打电话 400-4000-400000</span>
        <a href="">
            <img src="../image/telphone.png">
        </a>
    </div>
</header>
<main>
    <!--constant_header end-->
    <ul id="categoryList">
        <li>
            <img src="../image/category.png">
            <div class="brief">
                <h2>按袋洗衣</h2>
                <p>
                    超级洗衣收费标准：<span>mini袋40元/袋</span>
                    <!--
                    <span>跑腿费：10元</span>
                    -->
                </p>
                <p>
                    <span>会员价：<em>40元</em>/袋</span>
                </p>
            </div>
            <a href="" class="btn btn-orderImme">马上下单</a>
        </li>
        <li>
            <img src="../image/category.png">
            <div class="brief">
                <h2>按袋洗衣</h2>
                <p>
                    超级洗衣收费标准：<span>mini袋40元/袋</span>
                    <!--
                    <span>跑腿费：10元</span>
                    -->
                </p>
                <p>
                    <span>会员价：<em>40元</em>/袋</span>
                </p>
            </div>
            <a href="" class="btn btn-orderImme">马上下单</a>
        </li>
        <li>
            <img src="../image/category.png">
            <div class="brief">
                <h2>按袋洗衣</h2>
                <p>
                    超级洗衣收费标准：<span>mini袋40元/袋</span>
                    <!--
                    <span>跑腿费：10元</span>
                    -->
                </p>
                <p>
                    <span>会员价：<em>40元</em>/袋</span>
                </p>
            </div>
            <a href="" class="btn btn-orderImme">马上下单</a>
        </li>
        <li>
            <img src="../image/category.png">
            <div class="price">
                <h2>按袋洗衣</h2>
                <p>
                    超级洗衣收费标准：<span>mini袋40元/袋</span>
                    <!--
                    <span>跑腿费：10元</span>
                    -->
                </p>
                <p>
                    <span>会员价：<em>40元</em>/袋</span>
                </p>
            </div>
            <a href="" class="btn btn-orderImme">马上下单</a>
        </li>
        <li>
            <img src="../image/category.png">
            <div class="brief">
                <h2>按袋洗衣</h2>
                <p>
                    超级洗衣收费标准：<span>mini袋40元/袋</span>
                    <!--
                    <span>跑腿费：10元</span>
                    -->
                </p>
                <p>
                    <span>会员价：<em>40元</em>/袋</span>
                </p>
            </div>
            <a href="" class="btn btn-orderImme">马上下单</a>
        </li>
    </ul>
    <!--constant_footer-->
</main>
<footer>

</footer>
<script></script>
</body>
</html>
<!--constant_footer end-->
