<!--constant_header-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content=”yes” name=”apple-mobile-web-app-capable”/>
    <title></title>
    <!--depend css-->
    <link rel="stylesheet" href="../stylesheet/deps/normalize.css">
    <link rel="stylesheet" href="../stylesheet/deps/components.css">
    <!--depend css end-->
    <link rel="stylesheet" href="../stylesheet/common.css">
    <!--different-->
    <link rel="stylesheet" href="../stylesheet/bagOrderDetail.css">
    <!--different end-->
</head>
<body>
<header>
    <div id="telBar">
        <span>有任何问题请拨打电话 400-4000-400000</span>
        <a href="">
            <img src="../image/telphone.png">
        </a>
    </div>
</header>
<main>
    <!--constant_header end-->
    <div id="basicPrice">
        <img src="../image/bagDetail.png">
        <p>
            超级洗衣简介：超级洗衣采用O2O业务模式，将线下中央洗涤工厂与移动互联网结合在一起，让微洗衣网上平台成为线下交易的前台。您通过微洗衣平台线上选择洗衣服务，
        </p>
    </div>
    <!--constant_footer-->
</main>
<footer>

</footer>
<!--different-->
<script src="../javascript/jquery.min.js"></script>
<script src="../javascript/bagOrderDetail.js"></script>
<!--different end-->
</body>
</html>
<!--constant_footer end-->
