<!--constant_header-->
<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/html">
<head lang="zh-cn">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
        maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content=”yes” name=”apple-mobile-web-app-capable”/>
    <title></title>
    <!--depend css-->
    <link rel="stylesheet" href="../stylesheet/deps/normalize.css">
    <link rel="stylesheet" href="../stylesheet/deps/components.css">
    <link rel="stylesheet" href="../stylesheet/common.css">
    <!--depend css end-->
    <!--different-->
    <link rel="stylesheet" href="../stylesheet/introduction.css">
    <!--different end-->
</head>
<body>
<header>
    <div id="telBar">
        <span>有问题请拨打电话 400-4000-400000</span>
        <a href="tel:123456">
            <img src="../image/telphone.png">
        </a>
    </div>
</header>
<main>
    <!--constant_header end-->


    <div id="briefIntro">
        <img src="../image/introduction.png">
        <p>
            <strong>超级洗衣简介：</strong><br>超级洗衣是全球倡导的一种新兴，环保，便捷的互联洗衣模式，是由雄厚的线下超级洗衣工厂，北京海洋绿色洗衣店负责总加工。以O2O移动互联网技术为核心的衣物清洗服务平台。您通过超级洗衣平台线上选择洗衣服务，在线交易，快速上门取送衣物。超级洗衣通过微信下单，客户自主选择种类、件数，打包清洗等多种方式进行网上下单操作，多时段上门取送衣物，为您剩下跑腿和找店铺的麻烦~~~节约了您宝贵的时间和金钱！我们保证：不管您是打包洗还是单件洗，每件衣服我们都会用心的清洗、烘干、熨烫、消毒杀菌、洗的干净，穿得放心！并保证在2天之内给您送回！
        </p>
    </div>
    <div id="washingType">
        <h2>【超级洗衣的多种洗衣方式】</h2>
        <h3>按袋清洗</h3>
        <p>
            大袋子SUPER袋69元/袋<br>
            小袋子MINI袋39元/袋<br>
            <span class="purpleWords">
                大袋子平均可装厚衣服6-9件  春秋衣物9-12件<br>
                您能装多少就装多少！全部一个价！<br>
                小袋子平均可装厚衣服2-4件  春秋衣物5-9件<br>
                您能装多少就装多少！全部一个价！
            </span>
        </p>
        <h3>分类衣服单件清洗</h3>
        <p>
            如果您的衣服不多，不够一袋或清洗要求有规定，（比如贵重衣服）可选择按件清洗哦~~~~选择不同清洗方式我们还是一样的全心全意服务！
        </p>
        <h3>家纺，汽车内饰清洗</h3>
        <br>
        <h3>鞋类清洗</h3>
    </div>
    <div id="step">
        <h2>【洗衣步骤】</h2>
        <p><span class="arrowRight"></span>微信关注超级洗衣</p>
        <p><span class="arrowRight"></span>之后点击下方菜单栏的“快速下单”按钮</p>
        <p><span class="arrowRight"></span>点击系统自动推送的下单图文信息</p>
        <p><span class="arrowRight"></span>选择洗衣种类并填写对应信息</p>
        <p><span class="arrowRight"></span>下单完成！！</p>
    </div>
    <div id="QandA">
        <h2>【疑问解答】</h2>
        <h3>1.按袋洗的袋子怎么拿到？</h3>
        <p>
            亲下单之后，我们的取件人员会上门收取衣物，并携带
            我们两个规格的袋子，亲可选择自己相应的袋子，自行
            装袋打包！只需要亲准备好要洗的衣物哦~~~~
            <br>
            <span class="purpleWords">
                另：我们的袋子是免费为亲发放和提供的哦！不加一分钱！<br>
                不过也请亲温柔的对待它哦~~~
            </span>
        </p>
        <h3>2.衣服都是混在一起洗吗？干洗还是水洗？</h3>
        <p>
            我们会对收回来的衣服，进行分类，干洗水洗要看衣服
            本身的面料！干洗一般是清洗真丝和羊毛类居多，水洗
            一般式棉、麻和涤纶面料居多！
            <br>
            <span class="purpleWords">
                亲们放心吧~~~~<br>
                我们会认真对待每一件衣服，采取最合适的洗涤方式的！~~~~~
            </span>
        </p>
        <h3>3.按袋洗的袋子怎么拿到？</h3>
        <p>
            亲下单之后，我们的取件人员会上门收取衣物，并携带
            我们两个规格的袋子，亲可选择自己相应的袋子，自行
            装袋打包！只需要亲准备好要洗的衣物哦~~~~
            <br>
            <span class="purpleWords">
                另：我们的袋子是免费为亲发放和提供的哦！不加一分钱！<br>
                不过也请亲温柔的对待它哦~~~
            </span>
        </p>
    </div>
    <div id="contact">
        <h2>【联系方式】</h2>
        <p>
            服务热线：400-40000-40000
            （上午08：00至下午18：00）
        </p>
    </div>

    <!--constant_footer-->
</main>
<footer>

</footer>
<script src="../javascript/jquery.min.js"></script>
<script src="../javascript/components.js"></script>
</body>
</html>
<!--constant_footer end-->
