<!--different-->
<link rel="stylesheet" href="../stylesheet/introduction.css">
<!--different end-->

<div id="briefIntro">
    <img src="../image/introduction.png">
    <p>
        超级洗衣简介：超级洗衣采用O2O业务模式，将线下中央洗涤工厂与移动互联网结合在一起，让微洗衣网上平台成为线下交易的前台。您通过微洗衣平台线上选择洗衣服务，
    </p>
</div>
<div id="intro">
    超级洗衣简介：超级洗衣采用O2O业务模式，将线下中央洗涤工厂与移动互联网结合在一起，让微洗衣网上平台成为线下交易的前台。您通过微洗衣平台线上选择洗衣服务，在线交易，免费上门取送衣物。超级洗衣采用O2O业务模式，将线下中央洗涤工厂与移动互联网结合在一起，让微洗衣网上平台成为线下交易的前台。您通过微洗衣平台线上选择洗衣服务，在线交易，免费上门取送衣物。超级洗衣采用O2O业务模式，将线下中央洗涤工厂与移动互联网结合在一起，让微洗衣网上平台成为线下交易的前台。您通过微洗衣平台线上选择洗衣服务，在线交易，免费上门取送衣物。超级洗衣采用O2O业务模式，将线下中央洗涤工厂与移动互联网结合在一起，让微洗衣网上平台成为线下交易的前台。您通过微洗衣平台线上选择洗衣服务，在线交易，免费上门取送衣物。
</div>
<div id="step">
    <span>操作步骤</span>
    <img src="../image/step.png">
</div>
