<!--constant_header-->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content=”yes” name=”apple-mobile-web-app-capable”/>
    <title></title>
    <!--depend css-->
    <link rel="stylesheet" href="../stylesheet/deps/normalize.css">
    <link rel="stylesheet" href="../stylesheet/deps/components.css">
    <!--depend css end-->
    <link rel="stylesheet" href="../stylesheet/common.css">
    <!--different-->
    <link rel="stylesheet" href="../stylesheet/myOrder.css">
    <!--different end-->
</head>
<body>
<header>
    <div id="telBar">
        <span>有任何问题请拨打电话 400-4000-400000</span>
        <a href="">
            <img src="../image/telphone.png">
        </a>
    </div>
</header>
<main>
    <!--constant_header end-->
    <ul id="categoryList">
        <li>
            <img src="../image/category/miniBag.png">
            <div class="brief">
                <h2>按袋洗衣</h2>
                <p>
                    超级洗衣-MINI袋
                </p>
                <p class="price">
                    限时价：<em>40元</em>/袋
                </p>
                <a href="" class="btn btn-orderImme">马上下单</a>
            </div>
        </li>
        <li>
            <img src="../image/category/superBag.png">
            <div class="brief">
                <h2>按袋洗衣</h2>
                <p>
                    超级洗衣-SUPER袋
                </p>
                <p class="price">
                    限时价：<em>80元</em>/袋
                </p>
                <a href="" class="btn btn-orderImme">马上下单</a>
            </div>
        </li>
        <li>
            <img src="../image/category/perClothing.png">
            <div class="brief">
                <h2>单件洗衣</h2>
                <p>
                    超级洗衣-按件洗
                </p>
                <p class="price">
                    限时价：<em>按件计价</em>
                </p>
                <a href="" class="btn btn-orderImme">马上下单</a>
            </div>
        </li>
        <li>
            <img src="../image/category/shoes.png">
            <div class="brief">
                <h2>洗鞋</h2>
                <p>
                    超级洗衣-清洗鞋子
                </p>
                <p class="price">
                    限时价：<em>按件计价</em>
                </p>
                <a href="" class="btn btn-orderImme">马上下单</a>
            </div>
        </li>
        <li>
            <img src="../image/category/homeTextile.png">
            <div class="brief">
                <h2>家居清洗</h2>
                <p>
                    超级洗衣-清洗家纺
                </p>
                <p class="price">
                    限时价：<em>按件计价</em>
                </p>
                <a href="" class="btn btn-orderImme">马上下单</a>
            </div>
        </li>
    </ul>
    <!--constant_footer-->
</main>
<footer>

</footer>
<script></script>
</body>
</html>
<!--constant_footer end-->
