@import "_variables";

/*---------------------------------
 *  input
 *---------------------------------*/
input, textarea {
  border: solid 1px @grayA9;
  font-size: 1.6rem;
  color: @gray31;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

/*---------------------------------
 *  components
 *---------------------------------*/
/*buttons*/
.btn {
  /*完全通用属性*/
  text-align: center;
  -webkit-appearance: none;
  outline: none;
  border-radius: 0;
  text-decoration: none;
  /*基本通用属性*/
  display: block;
  border: 0;
  color: @white;
  background-color: @purple;
  font-size: 1.5rem;
}

.btn-orderImme {
  //order immediately 立即下单
  padding: 8px 13px;
  display: inline-block;
}

.btn-confirm {
  //用于模态框的确认按钮
  width: 82px;
  height: 28px;
  display: inline-block;
}

.btn-cancel {
  width: 82px;
  height: 28px;
  background-color: @gray5B;
  display: inline-block;
}

.btn-submit {
  width: 255px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
}

//订单页面状态按钮
.btn-orderState-mixin {
  //just a mixin, don't use it straight!
  padding: 3px 0px 4px;
  background-color: @blue-light;
  width: 71px;
  float: right;
  text-align: center;
}

.btn-orderFinished {
  &:extend(.btn-orderState-mixin);
  color: @blue;
}

.btn-orderCanceled {
  &:extend(.btn-orderState-mixin);
  color: @gray56;
}

.btn-orderPaid {
  &:extend(.btn-orderState-mixin);
  color: @blue;
}

.btn-orderNotPaid {
  &:extend(.btn-orderState-mixin);
  color: @purple;
}

.btn-orderConfirmed {
  &:extend(.btn-orderState-mixin);
  color: @blue;
}

.btn-orderNotConfirmed {
  &:extend(.btn-orderState-mixin);
  color: @purple;
}

/*modal box*/
.modalBox {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  .box {
    margin: 120px auto 0;
    width: 275px;
    background-color: @white;
  }
  h1 {
    font-size: 2rem;
    padding: 8px;
    text-align: center;
    background-color: @grayE3;
  }
  .content {
    padding: 10px 43px;
  }
  .name {
    display: inline-block;
    width: 65px;
    text-align: right;
  }
  .value {
    display: inline-block;
    width: 100px;
    word-break: break-word;
    vertical-align: top;
  }
  .btnGroup {
    text-align: center;
    padding-bottom: 15px;
  }
  .btn-cancel {
    margin-right: 25px;
  }
}

/*number box*/
.numberBox {
  display: inline-block;
  vertical-align: sub;
  color: @black;
  button, label {
    display: block;
    float: left;
  }
  button {
    background-color: @grayE3;
    color: @black;
    width: 2.4rem;
    height: 2.3rem;
    border: solid 1px @grayA9;
  }
  .reduce {
    border-right: none;
  }
  .add {
    border-left: none;
  }
  .num {
    width: 4rem;
    text-align: center;
    height: 2.3rem;
    font-size: 1.5rem;
  }
}

/*horizonLine*/
hr {
  border: none;
  border-bottom: solid 1px @grayC1;
  margin: 12px 0;
}

/*---------------------------------
 *  util classes
 *---------------------------------*/
/*purple text*/
.purpleWords {
  color: @purple;
}

.clearFloat {
  clear: both;
}