<!--constant_header-->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content=”yes” name=”apple-mobile-web-app-capable” />
    <title></title>
    <!--depend css-->
    <link rel="stylesheet" href="../../stylesheet/deps/normalize.css">
    <link rel="stylesheet" href="../../stylesheet/deps/components.css">
    <!--depend css end-->
    <link rel="stylesheet" href="../../stylesheet/common.css">
    <!--different-->

    <!--different end-->
</head>
<body>
<header>
    <div id="telBar">
        <span>有任何问题请拨打电话 400-4000-400000</span>
        <a href="">
            <img src="../../image/telphone.png">
        </a>
    </div>
</header>
<main>
    <!--constant_header end-->

    <!--constant_footer-->
</main>
<footer>

</footer>
<script></script>
</body>
</html>
<!--constant_footer end-->
