<!--constant_header-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content=”yes” name=”apple-mobile-web-app-capable”/>
    <title></title>
    <!--depend css-->
    <link rel="stylesheet" href="../../stylesheet/deps/normalize.css">
    <link rel="stylesheet" href="../../stylesheet/deps/components.css">
    <!--depend css end-->
    <link rel="stylesheet" href="../../stylesheet/common.css">
    <!--different-->
    <link rel="stylesheet" href="../../stylesheet/bagOrderDetail.css">
    <!--different end-->
</head>
<body>
<header>
    <div id="telBar">
        <span>有任何问题请拨打电话 400-4000-400000</span>
        <a href="">
            <img src="../../image/telphone.png">
        </a>
    </div>
</header>
<main>
    <!--constant_header end-->
    <div id="basicPrice">
        <img src="../../image/bagDetail.png">

        <p>超级洗衣</p>

        <p>
            <span>单件洗价格：<strong>按件计价</strong></span>
        </p>
    </div>
    <div id="washingNumber">
        <div class="formRow">
            <div class="price">
                <div>

                </div>
                <span>元</span>
            </div>
        </div>
        <div class="numberBox">
            <input type="button" class="reduce" value="-"/>
            <label>
                <input class="num" value="1"/>
            </label>
            <input type="button" class="add" value="+"/>
        </div>
    </div>
    <div id="intro">
        <h2>一袋洗简介</h2>

        <p id="introText">
            超级洗衣采用O2O业务模式，将线下中央洗涤工厂与移动互联网结合在一起，让微洗衣网上平台成为线下交易的前台。您通过微洗衣平台线上选择洗衣服务，在线交易，免费上门取送衣物。
        </p>

        <div class="verticalLine"></div>
        <p id="introText2">
            服务项目：微洗衣主要业务包括三大类上百个<br>
            服务理念：快乐可以很简单，干净可以很简单<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;简单你的生活！<br>
            联系电话： 400-878-1797<br>
            电子邮箱： service@weixiyi.cn
        </p>

        <p id="purpleWords">
            <span class="star-icon"></span>
            如果您在下单中遇到任何问题请微信联系我们！
        </p>
    </div>
    <form id="orderForm">
        <div class="formRow">
            <label for="name">姓名：</label>
            <input id="name">
        </div>
        <div class="formRow">
            <label for="telephone">手机号码：</label>
            <input id="telephone">
        </div>
        <div class="formRow">
            <label for="city">选择城市：</label>
            <input id="city">
        </div>
        <div class="formRow">
            <label for="area">选择区域：</label>
            <select id="area"></select>
        </div>
        <div class="formRow">
            <label for="address">取件地址：</label>
            <textarea id="address"></textarea>
        </div>
        <div class="formRow">
            <label for="payMethod">支付方式：</label>
            <select id="payMethod"></select>
        </div>
    </form>
    <div id="time">
        <div class="formRow">
            <span class="point"></span>
            <label for="takeTime">取件时间：</label>
            <input id="takeTime" disabled>
        </div>
        <div class="formRow">
            <span class="point"></span>
            <label for="conveyTime">送件时间：</label>
            <input id="conveyTime" disabled>
        </div>
    </div>
    <div id="orderInfo">
        <div id="orderPrice">
            订单金额：<em class="num">90</em><em>元</em>
        </div>
        <!--data-formId对应需要提交的表单的id-->
        <div id="orderSubmit" onclick="modalBoxPopup(this)" data-formid="orderForm">下 单</div>
    </div>
    <div class="modalBox" id="confirmOrder">
        <div class="box">
            <h1>确认订单</h1>
            <div class="content">

            </div>
            <input type="button" class="btn btn-cancel">
            <input type="button" class="btn btn-order">
        </div>
    </div>
    <!--constant_footer-->
</main>
<footer>

</footer>
<!--different-->
<script src="../../javascript/jquery.min.js"></script>
<script src="../../javascript/bagOrderDetail.js"></script>
<!--different end-->
</body>
</html>
<!--constant_footer end-->
